.App{
    font-size: 10rem;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.App div{
    height: 100vh;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
p{
    background-color: lightblue;
}
